@model Models.Entity.Shop

@{
    ViewData["Title"] = "AddShop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddShop</h1>

<h4>Shop</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddShop">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShopName" class="control-label"></label>
                <input asp-for="ShopName" class="form-control" />
                <span asp-validation-for="ShopName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShopPrice" class="control-label"></label>
                <input asp-for="ShopPrice" class="form-control" />
                <span asp-validation-for="ShopPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="States" class="control-label"></label>
                <select name="State" class="form-control">
                    <option value="True">上架</option>
                    <option value="False">下架</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Shop">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
